.dropdown-toggle {
	cursor: pointer;
}

.sticky-top {
	position: sticky !important;
	top: 56px !important;
    z-index: 1020 !important;
}

.thead {
	position: sticky;
	top: 70px;
	z-index: 99;
}

.color-swatch {
	margin: 10px;
	font-size: 10px;
}

.color-swatch > div {
	border-style: solid;
	border-radius: 5px;
	border-color: #ffffe8;
	border-width: 4px;
	box-shadow: 3px 4px 5px #888888;
	width: 40px;
	height: 40px;
}

.color-swatch > div > * {
/*	border-style: solid;
	border-radius: 5px;
	border-color: #ffffe8;
	border-width: 4px;*/
	width: 100%;
	height: 100%;
}

a {
  color: #4f8787;
}

a:hover {
  color: #406d6d;
}

.results-table a {
	text-decoration: none;
}

.results-table a:hover {
	text-decoration: none;
}