<div class="container">

	<section class="card d-print-none mb-5 border">

		<div class="card-header d-none d-md-block bg-honeydew">
			<div class="display-5 card-title text-darkslategray" ng-if="!movie_title">{{ title }}</div>
			<div class="display-5 card-title text-darkslategray" ng-if="movie_title">Subtitles for "{{ movie_title }}"</div>
			<div class="display-8 card-title text-darkslategray" ng-if="movie_title">{{ title }}</div>
		</div><!-- card-header -->

		<form name="subs-search" novalidate ng-submit="getData()">
			<div class="card-body">
				<fieldset class="form-group">
					<div class="form-group">
						<label class="form-control-label card-text" for="searchbox">Filter</label>
						<input type="text" id="filterbox" class="form-control form-control-lg" placeholder="Filter" autofocus ng-model="filter" />
					</div><!-- form-group -->
						<div class="form-group">
							<label class="form-control-label card-text" for="inc_time">Increment time</label>
							<div class="input-group text-center" id="inc_time">
								<input type="number" class="form-control border-right-0" placeholder="h" ng-model="inc_h" ng-change="incTime()">
								<div class="input-group-text border-right-0 rounded-right-0 rounded-left-0">:</div>
								<input type="number" class="form-control border-right-0" placeholder="m" min="-59" max="59" ng-model="inc_m" ng-change="incTime()">
								<div class="input-group-text border-right-0 rounded-right-0 rounded-left-0">:</div>
								<input type="number" class="form-control border-right-0" placeholder="s" min="-59" max="59" ng-model="inc_s" ng-change="incTime()">
								<div class="input-group-text border-right-0 rounded-right-0 rounded-left-0">.</div>
								<input type="number" class="form-control" placeholder="ms" min="-999" max="999" ng-model="inc_ms" ng-change="incTime()">
							</div>
						</div><!-- form-group -->
				</fieldset><!-- fieldset -->
			</div><!-- card-body -->

		</form><!-- subs-search -->
	</section><!-- card -->

</div><!-- container -->


<section class="row text-center justify-content-center subs-results">
	<div class="col-9">

	<div class="lds-ellipsis" ng-hide="loaded"><div></div><div></div><div></div><div></div></div><!-- loader -->

	<div class="db-results d-print-none" ng-show="subtitles && loaded">
		<p class="mb-4">Showing 
			<input class="form-control form-control-sm text-center d-inline" type="number" style="width: 4.7rem;" ng-model="items_per_page" ng-change="defaultPerPage()" /> 
			of {{ subtitles.length }} results</p>

		<dir-pagination-controls template-url="views/dirPagination.tpl.html"></dir-pagination-controls>

		<div class="results-table text-center my-4" ng-show="show_results">

			<div class="row thead mb-2">
				<div class="{{ col.idx.head }} bg-{{ color.idx.head.bg }} text-{{ color.idx.head.text }}">Index</div>
				<div class="{{ col.start.head }} bg-{{ color.start.head.bg }} text-{{ color.start.head.text }}">Start Time</div>
				<div class="{{ col.lines.head }} bg-{{ color.lines.head.bg }} text-{{ color.lines.head.text }}">Line</div>
				<div class="{{ col.end.head }} bg-{{ color.end.head.bg }} text-{{ color.end.head.text }}">End Time</div>
			</div><!-- thead -->

			<div class="row mb-2" dir-paginate="sub in subtitles | itemsPerPage: items_per_page as filtered"">
				<div class="{{ col.idx.cell }} bg-{{ color.idx.cell.bg }} text-{{ color.idx.cell.text }}">{{ sub.index }}</div>
				<div class="{{ col.start.cell }} bg-{{ color.start.cell.bg }} text-{{ color.start.cell.text }}">{{ addTimes(sub.start, inc_time) | time}}</div>
				<div class="{{ col.lines.cell }} bg-{{ color.lines.cell.bg }} text-{{ color.lines.cell.text }}">{{ sub.lines }}</div>
				<div class="{{ col.end.cell }} bg-{{ color.end.cell.bg }} text-{{ color.end.cell.text }}">{{ addTimes(sub.end, inc_time) | time}}</div>
			</div><!-- row -->

		</div><!-- results-table -->

		<dir-pagination-controls template-url="views/dirPagination.tpl.html"></dir-pagination-controls>

	</div><!-- db-results d-print-none -->

	<!-- When printed to paper, show all results -->
	<div class="db-results d-none d-print-block" ng-show="subtitles && loaded">
		<div class="container table">
			<div class="row no-gutters justify-content-center" ng-repeat="sub in subtitles">
				<div class="col-xl-2">
					<div class="row">
						<div class="col-3 offset-5 bg-info text-light rounded-left">{{ sub.movie_idx }}</div>
						<div class="col-3 bg-warning text-dark">{{ sub.index }}</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="row">
						<div class="col-12 bg-dark text-light">{{ sub.lines }}</div>
					</div>
				</div>
				<div class="col-xl-2">
					<div class="row">
						<div class="col-5 bg-success text-light">{{ addTimes(sub.start, inc_time) | time}}</div>
						<div class="col-5 bg-danger text-light rounded-right">{{ addTimes(sub.end, inc_time) | time}}</div>
					</div>
				</div>
			</div><!-- row -->
		</div><!-- table -->
	</div><!-- db-results d-print-block -->
	</div><!-- col -->
</section><!-- subs-results -->