<div class="container">

	<section class="card d-print-none mb-5 border">

		<div class="card-header d-none d-md-block bg-honeydew">
			<div class="display-5 card-title text-darkslategray">{{ title }}</div>
		</div><!-- card-header -->

		<form name="subs-search" novalidate ng-submit="sendData()">
			<div class="card-body">
				<fieldset class="form-group">
					<div class="form-group">
						<label class="form-control-label card-text" for="search-titles">Search titles</label>
						<input type="text" id="search-titles" class="form-control form-control-lg" placeholder="Search titles" autofocus ng-model="movie" ng-change="sendData()" ng-model-options="{ debounce: 500 }" />
					</div><!-- form-group -->
					<div class="form-group form-row justify-content-between">
						<div class="form-group col-md">
							<label class="form-control-label card-text" for="search-lines">Search lines</label>
							<input type="text" id="search-lines" class="form-control" placeholder="Search lines" autofocus ng-model="query" ng-change="sendData()" ng-model-options="{ debounce: 500 }" />
						</div><!-- form-group -->
						<div class="form-group col-md">
							<label class="form-control-label card-text" for="search-year">Year</label>
							<input type="text" id="search-year" class="form-control" placeholder="Year" ng-model="year" ng-change="sendData()" ng-model-options="{ debounce: 500 }" />
						</div><!-- form-group -->
					</div><!-- form-group -->
				</fieldset><!-- fieldset -->
			</div><!-- card-body -->

		</form><!-- subs-search -->
	</section><!-- card -->

</div><!-- container -->


<section class="row text-center justify-content-center subs-results" ng-show="(query || movie) && year">
	<div class="col-9">

	<div ng-show="year == 0 || year > 1800"><span>Results for <span ng-if="movie">"{{ movie }}"</span> <span ng-if="query && movie">and</span> <span ng-if="query">"{{ query }}"</span> in films from {{ year }}</span></div>
	<div class="lds-ellipsis" ng-hide="loaded"><div></div><div></div><div></div><div></div></div><!-- loader -->

	<div class="db-results d-print-none" ng-show="subtitles && loaded">
		<p class="mb-4">Showing up to
			<input class="form-control form-control-sm text-center d-inline" type="number" style="width: 4.7rem;" ng-model="items_per_page" ng-change="defaultPerPage()" /> 
			of {{ subtitles.length }} results</p>

		<dir-pagination-controls template-url="views/dirPagination.tpl.html"></dir-pagination-controls>

		<div class="results-table text-center my-4" ng-show="show_results">

			<div class="row thead mb-2">
				<div class="{{ col.title.head }} bg-{{ color.title.head.bg }} text-{{ color.title.head.text }}">Title</div>
				<div class="{{ col.start.head }} bg-{{ color.start.head.bg }} text-{{ color.start.head.text }}">Start Time</div>
				<div class="{{ col.lines.head }} bg-{{ color.lines.head.bg }} text-{{ color.lines.head.text }}"><span ng-if="query">Line</span><span ng-if="!query">Sample</span></div>
				<div class="{{ col.end.head }} bg-{{ color.end.head.bg }} text-{{ color.end.head.text }}">End Time</div>
			</div><!-- thead -->


			<a class="row mb-2" href="#!/movie/{{ sub.movie_idx }}/year/{{ year }}"
				ng-mouseover="hoverActive=true"
                ng-mouseleave="hoverActive=false"
				dir-paginate="sub in subtitles | itemsPerPage: items_per_page as filtered">
				<div class="{{ col.title.cell }} bg-{{ color.title.cell.bg }} text-{{ color.title.cell.text }}"
                ng-style="hoverActive ? {'background-color': color.title.cell.hov} : ''">{{ sub.movie_title }}</div>
				<div class="{{ col.start.cell }} bg-{{ color.start.cell.bg }} text-{{ color.start.cell.text }}"
                ng-style="hoverActive ? {'background-color': color.start.cell.hov} : ''">{{ addTimes(sub.start, inc_time) | time}}</div>
				<div class="{{ col.lines.cell }} bg-{{ color.lines.cell.bg }} text-{{ color.lines.cell.text }}"
                ng-style="hoverActive ? {'background-color': color.lines.cell.hov} : ''">{{ sub.lines }}</div>
				<div class="{{ col.end.cell }} bg-{{ color.end.cell.bg }} text-{{ color.end.cell.text }}"
                ng-style="hoverActive ? {'background-color': color.end.cell.hov} : ''">{{ addTimes(sub.end, inc_time) | time}}</div>
			</a><!-- row -->

		</div><!-- results-table -->

		<dir-pagination-controls template-url="views/dirPagination.tpl.html"></dir-pagination-controls>

	</div><!-- db-results d-print-none -->

	<!-- When printed to paper, show all results -->
	<div class="db-results d-none d-print-block" ng-show="subtitles && loaded">
		<p>Showing {{ subtitles.length }} of {{ subtitles.length }} results</p>
		<div class="container table">
			<div class="row no-gutters justify-content-center" ng-repeat="sub in subtitles">
				<div class="col-xl-2">
					<div class="row">
						<div class="col-6 bg-info text-light rounded-left">{{ sub.movie_title }}</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="row">
						<div class="col-6 bg-dark text-light">{{ sub.lines }}</div>
					</div>
				</div>
				<div class="col-xl-2">
					<div class="row">
						<div class="col-5 bg-success text-light">{{ addTimes(sub.start, inc_time) | time}}</div>
						<div class="col-5 bg-danger text-light rounded-right">{{ addTimes(sub.end, inc_time) | time}}</div>
					</div>
				</div>
			</div><!-- row -->
		</div><!-- table -->
	</div><!-- db-results d-print-block -->
	</div><!-- col -->
</section><!-- subs-results -->